.cart {
    width: 100%;
    float: left;
    margin: 100px 0;
}
.cart .box {
    width: 80%;
    margin: 0 auto;
}
.cart .box .cartContent {
    width: 100%;
    float: left;
    margin: 20px 0;
    padding: 60px 0;

}
.cart .box .cartContent input {
    width: 60px;
    height: 30px;
    border: 2px solid #3f2803;
    font-size: 19px;
    text-align: center;
}
.cart .box .cartContent table button {
    width: 30px;
    font-size: 18px;
    height: 30px;
    outline: none;
    border: 2px solid #3f2803;
    background: #3f2803;
    color: #fff;
    cursor: pointer;
}
.cart .box .cartContent table button:hover {
    background: #a0d445;
    transition: background 1s, border 1s;
    border: 2px solid #a0d445;

}

.cart .box .cartContent img {
    width: 90px;
}
.cart .box .cartContent table {
    width: 100%;
}
.cart .box .cartContent table thead {
    border-bottom: 1px solid #ebedf0;

}
.cart .box .cartContent table thead th {
    width: 15%;
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    color: #adadad;
    font-weight: normal;
}
.cart .box .cartContent table thead th:nth-child(2) {
    width: 30%;
}

/*.cart .box .content table thead th:first-child {*/
    /*width: 20%;*/
/*}*/

.cart .box .cartContent table  td {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ebedf0;
    line-height: 90px;
}

.cart .box .cartContent table  td h4 {
    font-weight: normal;
    padding-bottom: 0;
}
.cart .box .cartContent .send {
    width: 25%;
    margin-top: 50px;
    float: right;
}
.cart .box .cartContent .send #subtotal {
    width: 200px;
    height: 30px;
    border: 2px solid #3f2803;
    font-size: 19px;
    text-align: center;
}
.cart .box .cartContent .send button {
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    width: 200px;
    height: 30px;
    letter-spacing: 1.5;
    background-color: #9f9381;
    border: 2px solid #9f9381;
    margin-top: 20px;
    outline: none;
    transition: background 1s, border 1s;
}
.cart .box .cartContent .send button:hover {
    background: #a0d445;
    transition: background 1s, border 1s;
    border: 2px solid #a0d445;

}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    content: none;
}