.table {
    width: 100%;
    margin: 50px auto;
    float: left;
    height: 400px;
}
.table .content {
    width: 450px;
    margin: 0 auto;
}
.table .nav-tabs>li.active>a,
.table .nav-tabs>li.active>a:focus,
.table .nav-tabs>li.active>a:hover {
    border: none;
    border-bottom: 2px solid #a0d445;
}
.nav-tabs>li>a:hover {
    background: transparent;
    border: none;

}
.nav>li>a {
    font-size: 14px;
    transition: color 1s;
}
.nav-tabs>li>a:hover {
    border: 1px solid transparent;
}
.nav>li>a:focus,
.nav>li>a:hover {
    background-color: transparent;
    color: #a0d445;
    transition: color 1s;
}
.table .content .form,
.table .content form {
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 40px;
}
.table .content .form p,
.table .content .form input,
.table .content form input {
    width: 100%;
    height: 31.6px;
    float: left;
    margin-top: 10px;
    font-size: 13px;
    padding-left: 10px;
    line-height: 2;
    font-weight: 600;
    letter-spacing: 1.5;
}
.table .content .form p span {
    color: #a0d445;
}

.table .content form input,
.table .content .form .wrapper {
    border: 2px solid #3f2803;
}
.table .content form #msg {
    display: none;
    color: #ff0000;
}
.table .content .form .wrapper {
    float: left;
    margin-top: 10px;
    margin-bottom: 40px;
}

.table .content .form p:focus,
.table .content form input:focus {
    outline: none;
}
.table .content form input:focus {
    border-color: #a0d445;
}

::-webkit-input-placeholder {
    color: #dad6d6;
    text-transform: uppercase;
    font-size: 13px;
}
.table .content .form input[type="submit"],
.table .content form input[type="submit"] {
    width: 150px;
    background: #a0d445;
    color: #fff;
    line-height: 2.5;
    letter-spacing: 1.5;
    cursor: pointer;
    transition: background 1s;
    border: none;
    margin-top: 50px;
}
.table .content .form input[type="submit"] {
    margin-top: 10px;
}

.table .content .form input[type="submit"]:hover,
.table .content form input[type="submit"]:hover {
    background: #3f2803;
    transition: background 1s;
}
@media (max-width: 500px) {
    .table .content {
        width: 300px;
    }
    .table .content .form p {
        font-size: 12px;
        height: auto;
        word-break: break-word;
    }

}

