.product {
    width: 100%;
    float: left;
    margin: 50px 0 50px;
}
.product .box {
    width: 80%;
    margin: 0 auto;
}
.product .box .img {
    width: 40%;
    float: left;
}
.product .box .content {
    width: 60%;
    float: left;
}
.product .box .content .text {
    width: 80%;
    margin: 0 auto;
}
.product .box .content .text h4:nth-of-type(2){
    font-weight: normal;
}

.product .box .content .text .none {
    display: none;
}
.product .box .img img {
    width: 100%;
}
.product .box .content h6 {
    color: #3f2803;
}
.product .box .content p {
    color: #777777;
    line-height: 1.5;
    text-align: justify;
    font-size: 14px;
}
.product .box .content .qty {
    margin-top: 60px;
}

.product .box .content input {
    width: 60px;
    height: 30px;
    border: 2px solid #3f2803;
    font-size: 19px;
    text-align: center;
}
.product .box .content button {
    width: 30px;
    font-size: 18px;
    height: 30px;
    outline: none;
    border: 2px solid #3f2803;
    background: #3f2803;
    color: #fff;
    cursor: pointer;
}
.product .box .content button:last-child {
    width: 200px;
    height: 30px;
    letter-spacing: 1.5;
    background-color: #9f9381;
    border: 2px solid #9f9381;
    margin-left: 25px;
    transition: background 1s, border 1s;
}

.product .box .content button:hover {
    background: #a0d445;
    transition: background 1s, border 1s;
    border: 2px solid #a0d445;

}
.product .box .content .table {
    margin-top: 70px;
}
.table .nav-tabs>li.active>a,
.table .nav-tabs>li.active>a:focus,
.table .nav-tabs>li.active>a:hover {
    border: none;
    border-bottom:2px solid #a0d445;
}
.product .box .content .table p {
    padding-top: 20px;
    font-size: 13px;
}
.nav>li>a {
    font-size: 14px;
    transition: color 1s;
}
.nav-tabs>li>a:hover {
    border: 1px solid transparent;
}
.nav>li>a:focus,
.nav>li>a:hover {
    background-color: transparent;
    color: #a0d445;
    transition: color 1s;
}
.modal-content {
    width: 700px;
}
.modal-content .modal-body  img {
    width: 650px;
    display: block;
    margin: auto;
}

@media (max-width: 1300px) {
    .product .box {
        width: 100%;
    }
    
}
@media (max-width: 900px){
    .product {
        margin: 0;
    }
    .product .box .img {
        width: 450px;
        float: none;
        margin: 50px auto;
    }
    .product .box .img img {
        width: 400px;
    }
    .product .box .content {
        width: 95%;
        float: none;
        margin: 0 auto;
    }

}
@media (max-width: 550px) {
    .product .box .content button:last-child {
        width: 150px;
        font-size: 14px;
    }
    .product .box .content .table {
        margin-top: 50px;
    }

}

@media (max-width: 500px) {
    .product .box .img {
        width: 300px;
    }
    .product .box .img img {
        width: 250px;
    }
}
@media (max-width: 415px) {
    .product .box .content button:last-child {
        margin-left: 0;
        margin-top: 30px;
    }
    .product .box .content .text {
        width: 95%;
    }
    .product .box .content .qty {
        width: 60%;
    }
    .nav-tabs>li>a {
        margin-right: 0;
        padding: 10px 12px;
    }

}






