.text-info {
    width: 100%;
    float: left;
    margin: 50px auto;
}
.text-info .box {
    width: 70%;
    margin: 0 auto;
}
.text-info .box h3 {
    line-height: 30px;
}

.text-info .box h5 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 20px;
}
.text-info .box h6 {
    color: #adadad;
    padding-bottom: 10px;
}
@media(max-width: 600px) {
    .text-info .box {
        width: 95%;
    }
}